header {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  .brand {
    display: flex;
    align-items: center;
    h3 {
      margin: 0 1rem;
    }
  }

  .user {
    display: flex;
    align-items: center;
    p {
      margin: 0 5px;
    }
  }
}
